train
train_data0
train_data1
train_data2
train_data3
train_data4
train_data5
train_data
test
data_train
data_test
model1.h5
.ipynb_checkpoints
saved_models
train-scene
vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5
.DS_Store
approach2
data-train
resnet50_places365.pth.tar
densenet161_places365.pth.tar
